* { margin: 0; padding: 0; border: none; }
body {
  margin-top: 100px;
  padding:0;
}

.top_movie_page{
    display: grid;
    gap: .2rem;
    grid-template-columns: minmax(15rem, 900px);
    grid-auto-rows: minmax(10px, auto);
    justify-content: space-evenly;
    align-content: center;
    margin: 2rem;
    padding: 2rem;
}

.backdrop_image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    
}

h1 {
    font-size: 40pt;
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-family: 'Oswald', serif;
    
}

h2{
    font-family: 'Oswald', serif;
    padding-bottom: 10px;
   

}
.section_dividor{
    font-family: 'Oswald', serif;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 40px;
}

p{
    font-family: 'Oswald', serif;
    padding-bottom: 10px;
}
.title{
    font-weight: bold;
    
}


.movies_grid{
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: minmax(370px, auto);
    justify-content: space-evenly;
    align-content: center;
    margin: 2rem;
}
  
  
.movies{
    display: grid;
    width: 200px;
    height: auto;
    justify-content: space-around;
}

a{
    text-decoration: none;
}
.description {
    justify-content: center;
    color: black;
    text-decoration: none;
    }


.movies_image{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;

}

.top_movie_page{
    display: grid;
    justify-content: center;
    align-content: center;
    }


h3{
    font-size: 15pt;
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-family: 'Oswald', serif;
    padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
}




.collection_link{
    display: flex;
    align-content: center;
    justify-content: center;
    
    text-align: center;
    width: 300px;
    height: 50px;
    
    text-decoration: none;
    color: black;
    background-color: #ff4d4d;
    border-radius: 1rem;
    
    font-family: 'Oswald', serif;
    box-shadow: 5px 10px 18px #cf7777;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
  
}  

.collection_link:hover{
    background-color: #db3c3c;
}

@media screen and (max-width:900px) {
    .movies_grid{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: content;
        flex-flow: column;
        justify-content: left;
        padding: 0px;
        margin: 0px;
        
    }

    .movies{
        flex-grow: 1;
    }
}    


@media screen and (max-width:900px) {
    .top_movie_page{
        margin: 1rem;
        padding: 1rem;
    }

    .movies_grid{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        grid-auto-rows: minmax(80px, auto);
        justify-content: center ;
        align-content: center;
        justify-self: center;
        margin: 1rem;
        padding-right: 30px;
        
      }
      
      .movies{
        display: grid;
        width: 140px;
        height: auto;
        justify-self: space-around;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 1rem;
        margin: 2px;
        padding-bottom: 15px;
        
      }
    
      .description h2{
        font-family: 'Oswald', serif;
        font-size: 25px;
        margin: 1;
        font-weight: 100;

        
      }

      .release_date p{
        font-family: 'Oswald', serif;
        font-size: 8px;
        font-weight: 100;
        justify-content: center;

      }
}



@media screen and (max-width:365px) {
    .top_movie_page{
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .movies_grid{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        grid-auto-rows: minmax(80px, auto);
        justify-content: center ;
        align-content: center;
        justify-self: center;
        margin: 1rem;
        padding-left: 40px;
        
      }
      
      .movies{
        display: grid;
        width: 120px;
        height: auto;
        justify-self: space-around;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 1rem;
        margin: 2px;
        padding-bottom: 15px;
        
      }
    
      .description h2{
        font-family: 'Oswald', serif;
        font-size: 25px;
        margin: 1;
        font-weight: 100;

        
      }

      .release_date p{
        font-family: 'Oswald', serif;
        font-size: 8px;
        font-weight: 100;
        justify-content: center;

      }
}

