.movies_grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: minmax(370px, auto);
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

h1{
  font-family: 'Oswald', serif;
  font-size: 50px;
}
.movies{
  display: grid;
  width: 200px;
  height: auto;
  justify-content: space-around;
}

.description {
  justify-content: center;
  color: #FF0000;
  text-decoration: none;
}

h2{
  font-family: 'Oswald', serif;
  font-size: 30px;
}
.movies_image{
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  
}