{% extends "layout.html" %}

{% block content %}
<h1>Popular films</h1>
<div class="movies_grid" >
    {% for movie in popular_movies['results']: %}
    <div class="movies stacked" >
        <img class="movies_image" src="{{ 'https://image.tmdb.org/t/p/w500' + movie['poster_path']}} "  width="200" height="auto" alt="image">
        <div class="description">
            <h2 class="movies_title">{{ movie['original_title'] }}</h2>
            <p>{{ movie['release_date'] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
