
{% block header%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}" />
<header>
    <nav class="navbar_container">
        <ul>
            <li id="title"   class="navbar title"><a href="" id="title"><h1>Movie App</h1></a></li>
            <li class="navbar"><a href="/">Home</a></li>
            <li class="navbar"><a href="/trending">Trending</a></li>
            <li class="navbar"><a href="/top_rated">Top rated</a></li>
            <div class="search-container">
                <form method="post" action="{{ url_for('search') }}" class="navbar">
                    <input type="text" id="search"  name='searched' placeholder="search movies...">
                    <input type="submit"  value="search">
                </form>
            </div>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
            
        </ul> 
    </nav>

</header>

<!--
<nav class="mobile_navbar_container">
    <ul>
        <li class="mobile_nav"><a href="/">Home</a></li>
        <li class="mobile_nav"><a href="/trending">Trending</a></li>
        <li class="movile_nav"><a href="/top_rated">Top rated</a></li>

    </ul> 
</nav>
-->

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
