{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

<div class="big_search-container">
    <h1 class="search">Search</h1>
    <div class="search_bar_container">
        <form method="post" action="{{ url_for('search') }}" class="big_searchbox">
            <input type="text" id="search"  name='searched' placeholder="search movies...">
            <input type="submit"  value="search">
        </form>
    </div>
    
</div>
{% endblock content %}






